IT IS AN OFFENSE TO CONTINUE TO ACCESS WITHOUT PRIOR AUTHORIZATION FROM 
                    VODAFONE HUTCHISON AUSTRALIA
|-----------------------------------------------------------------------|
| Vodafone Hutchison Australia monitors all systems and worksites 	|
|    for unauthorised access, improper use, user safety and security    |
| of our physical and intellectual property. 				|
|   Authorised individuals may continuously monitor these systems       |
| by electronic or manual review of activity and logs.			|
|   By using this system, you acknowledge that you understand and       |
| accept Vodafone Hutchison Australia's information security policies.  | 
|-----------------------------------------------------------------------|
